li{
    margin-left: 13px;
}
.navbar h1{
    font-weight: bolder;
    font-family: 'Playfair Display', serif;
}
.container .navbar{
    background-color: white;
}
.container .navbar img{
    font-weight: bolder;
margin-left: 180px;
}
.navbar .collapse .navbar-nav{
    margin-right: 220px;
}
.navbar .collapse .navbar-nav .nav-item .nav-link{
    font-weight: 500;
}
.navbar .collapse .navbar-nav .nav-item .nav-link:hover{
    color: rgb(228, 130, 88);
}
.container .row .card .img{
    width: 100%;
    height: 260px;
    background-image: url(../Images/image-web-3-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}
.container .row .card{
    border: 0px;
    
}
.container .row .card .row{
    display: flex;
}
.container .row .card .row .ldiv h1{
font-weight: bolder;
font-size: 50px;
}
.container .row .card .row .rdiv p{
color: rgba(0, 0, 0, .5);
font-weight: 500;
}
.container .row .card .row .rdiv .btn{
letter-spacing: 3.5px;
font-weight: bold;
padding: 10px 20px;
font-size: 15px;
margin-top: 20px;
}
.color{
    color: rgba(228, 170, 23, 0.858);
}
.container .row .card .list-group .list-group-item p{
    color: rgba(255, 255, 255, 0.523);
}
.container .row .card .row img{
    width: 100%;
    padding-top: 30px;
}
.container .row .card .row .card-body .head{
color: rgba(0, 0, 0, .3);
font-weight: bold;
}
.container .row .card .row .card-body .card-title{
font-weight: bold;
}
.container .row .card .row .card-body .card-title:hover{
    color: rgb(228, 130, 88);
    cursor: pointer;
}
.container .row .card .row .card-body .card-text{
font-size:14px;
color: rgba(0, 0, 0, .6);
}
.row{
    margin: 0;
}
@media(max-width:750px) {
    .container .row .card .img{
        background-image: url(../Images/image-web-3-mobile.jpg);
        background-size: cover;
    }
}
